.chess-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  margin: 50px auto;
  border: 1px solid gray;
}

.tile {
  width: 50px;
  height: 50px;
  color: transparent;
  cursor: pointer;
}

.white-tile {
  background-color: ghostwhite;
}

.black-tile {
  background-color: black;
}

.knight {
  /* background-color: green; */
  z-index: 1;
  width: 50px;
  height: 50px;
}

.possible-move {
  background-color: green;
}
